/*наши стили*/
.product {
    height: 500px;

}
.product p.description_product{
    height: 70px;
}

#navbar-example .navbar-nav > li::after {
    content:"";
}

.sidebar {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pure_form {
    background: white;
    margin: 10px;
}
.pure_form form {
    padding: 30px;
}

.pure_form h3 {
    padding-top: 15px;
    text-align: center;
}
.product h3 {
    height: 50px;
    color: rgb(144, 82, 82);

}

input.hidden_style{
    border: none;
    background: none;
    color: #fff;
}

.product .btn i {
    font-size: 18px;
}

.cart_item_image {
    float: left;
    width: 40%;
    margin-right: 9px;
}

.cartitem p.title {
    font-weight: bold;
}

.cart ul.dropdown-menu {
    background-color: #fff;
    padding: 10px;
}

.cartitem {
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px;
}

#cartitems .btn-group {
    width: 100%;
}
